<!DOCTYPE html>
<html lang="en" ng-app="DIApp">
<head>
    <meta charset="UTF-8">
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dependency Injection in Angular</h1>
    
    <div ng-controller="DIController">
        <input type="text" name="" id="" ng-model="name" ng-blur="upper()">
        <p>Message is {{sayWelcome()}}</p>
        <input type="text" name="" id="" ng-model="sayWelcome();">

    </div>
    
        
   
</body>
</html>