<!DOCTYPE html>
<html lang="en" ng-app="Practice">
<head>
    <meta charset="UTF-8">
    <script src="../angular.min.js"></script>
    <script src="add.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Master</title>
</head>
<body>
    <div ng-controller="PracticeController">
        <h1>I love Angular</h1>

        <input type="text" name="" id="" ng-model="num1"><br>
        <input type="text" name="" id="" ng-model="num2"><br>

        <button ng-click="DisplaySum()">Add</button>
        <h2>Result:{{sum}}</h2>
    </div>
    
</body>
</html>